html { scroll-behavior: smooth; }

body {
  margin: 0;
  padding: 0;
  background: #050607;
  color: #fff;
  overflow-x: hidden;
}

* { box-sizing: border-box; }
a { text-decoration: none; color: inherit; }
img { max-width: 100%; display: block; }

.heroCar {
  position: absolute;
  right: -30px;
  bottom: 0;

  width: 760px;

  z-index: 2;
}